<div class='modal-header'>
  <button type='reset' class='close' data-dismiss='modal'>
    &times;
  </button>
  <h4 class='modal-title'>Register</h4>
</div>

<div class='modal-body form'>
  <div class='form-group'>
    <label class='control-label' for='email'>Email</label>
    <label class='control-label error-message' for='email'></label>
    <input type='email' class='form-control' name='email' placeholder='anadir@greedale.edu'>
  </div>
  <div class='form-group'>
    <label for='name'>Handle</label>
    <label class='control-label error-message' for='handle'></label>
    <input type='text' class='form-control' name='name' placeholder='Abed'>
  </div>
  <div class='form-group'>
    <label for='password'>Password</label>
    <label class='control-label error-message' for='password'></label>
    <input type='password' class='form-control' name='password'>
  </div>
  <div class='form-group'>
    <label for='password_confirmation'>Password Confirmation</label>
    <label class='control-label error-message' for='password_confirmation'></label>
    <input type='password' class='form-control' name='password_confirmation'>
  </div>
</div>
<div class='modal-footer'>
  <button type='reset' class='btn btn-default' data-dismiss='modal'>
    Cancel
  </button>
  <button type='submit' class='btn btn-primary'>Register</button>
</div>
