<div>
  <img class='beenz beenz-1' src='beenz-1.png'>
  <img class='beenz beenz-2' src='beenz-2.png'>
  <img class='beenz beenz-3' src='beenz-3.png'>
  <img class='beenz beenz-4' src='beenz-4.png'>
  <img class='beenz beenz-5' src='beenz-5.png'>
</div>
<h3 class='tag highlight'>These will change everything!</h3>

<button class='btn btn-primary' data-toggle='modal' data-target='#login-modal'>
  Login
</button>

<button class='btn btn-primary' data-toggle='modal' data-target='#register-modal'>
  Register
</button>

<div id='login-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div id='login-container' class='modal-content'>
    </div>
  </div>
</div>

<div id='register-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div id='register-container' class='modal-content'>
    </div>
  </div>
</div>
